{{ $disableImageOptimization := .Page.Site.Params.disableImageOptimization | default false }}

{{- $images := .Resources.ByType "image" -}}
{{- $featured := $images.GetMatch "*background*" -}}
{{- if not $featured }}{{ $featured = $images.GetMatch "*feature*" }}{{ end -}}
{{- if not $featured }}{{ $featured = $images.GetMatch "{*cover*,*thumbnail*}" }}{{ end -}}

{{ if .Params.featureimage }}
  {{- $url := .Params.featureimage -}}
  {{- if not $featured }}{{ $featured = resources.GetRemote $url }}{{ end -}}
{{ end }}

{{- if not $featured }}
  {{ with .Site.Params.defaultBackgroundImage }}
    {{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
      {{ $featured = resources.GetRemote . }}
    {{ else }}
      {{ $featured = resources.Get . }}
    {{ end }}
  {{ end }}
{{ end -}}

{{- with $featured -}}
<section class="hero custom-hero"
  style="
    background-image: url('{{ .RelPermalink }}');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
  ">
  
  <!-- CONTENIDO DEL HERO -->
  <div class="hero-content max-w-4xl mx-auto text-center flex flex-col justify-center items-center"
       style="min-height:100vh;">

  </div>
</section>
{{- end -}}
