{{ $disableImageOptimization := site.Params.disableImageOptimization | default false }}
{{ $page := .Page }}
{{ $featured := "" }}
{{ $featuredURL := "" }}
{{ if not .Params.hideFeatureImage }}
  {{ with $page }}
    {{ with .Params.featureimage }}
      {{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
        {{ $featured = resources.GetRemote . }}
      {{ else }}
        {{ $featured = resources.Get . }}
      {{ end }}
    {{ end }}
    {{ if not (or $featured $featuredURL) }}
      {{ $images := .Resources.ByType "image" }}
      {{ range slice "*feature*" "*cover*" "*thumbnail*" }}
        {{ if not $featured }}{{ $featured = $images.GetMatch . }}{{ end }}
      {{ end }}
    {{ end }}
    {{ if not $featuredURL }}
      {{ with $featured }}
        {{ $featuredURL = .RelPermalink }}
        {{ if not (or $disableImageOptimization (eq .MediaType.SubType "svg")) }}
          {{ $featuredURL = (.Resize "300x").RelPermalink }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

<article class="flex flex-row gap-8 mb-15 items-start">
  {{ with $featuredURL }}
  <a href="{{ $page.RelPermalink }}" class="flex-none not-prose" style="width:320px; min-width:320px; height:213px; overflow:hidden; border-radius:8px; display:block;">
    <img
        src="{{ . }}"
        alt="{{ $.Title | emojify }}"
        loading="lazy"
        decoding="async"
        style="width:100%; height:100%; object-fit:cover;">
  </a>
  {{ end }}
  <div class="flex flex-col justify-start gap-1" style="padding-left: 1rem;">
    <a href="{{ $page.RelPermalink }}" class="not-prose text-xl font-bold text-neutral-800 dark:text-neutral hover:underline hover:underline-offset-2 decoration-primary-500">
      {{ .Title | emojify }}
    </a>
    <div class="text-sm text-neutral-500 dark:text-neutral-400">
      {{ partial "article-meta/basic.html" . }}
    </div>
    {{ with .Params.tags }}
        <div class="flex flex-wrap gap-3 mt-2">
            {{ range . }}
                <span class="text-xs px-3 py-1 rounded-full bg-primary-800 dark:bg-primary-900 border border-primary-500 text-primary-200 dark:text-primary-300">
                    {{ . }}
                </span>
            {{ end }}
        </div>
    {{ end }}
    <div class="prose dark:prose-invert text-base mt-2 line-clamp-3">
        {{ with .Params.description }}{{ . }}{{ else }}{{ $page.Summary | plainify }}{{ end }}
    </div>
  </div>
</article>